body {
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(78, 77, 77);
    background-image: linear-gradient(to bottom, grey, rgb(58, 57, 57));

}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

a:hover {
    transition: 2s;
    background-color: rgb(30, 29, 29);
    border-radius: 5px;
    margin: 5px;
}